.circle {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
}

.circle-red {
    background-color: red;
}

.circle-green {
    background-color: green;
}

.circle-blue {
    background-color: blue;
}

#container {
    position: relative;
}